body {
    background: #4982f0;
    font-family: "Roboto", sans-serif;
}
.logo {
    width: 50px;

    img {
        width: 100%;
        max-width: 100%;
    }
}
.line-top {
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    h2 {
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
    }
}
.menu {
    height: 100vh;
    width: 0;
    background-color: #fff;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
}
.header-menu {
    text-align: right;
    margin-top: 2em;

    button {
        background-color: transparent;
        border: none;
        font-size: 3em;
        margin-right: 0.5em;
    }
}
.list-group {
    a {
        font-size: 1.5em;
    }
}
.list-group-item {
    border: none;
}
.banner {
    width: 100%;
    img {
        width: 100%;
        max-width: 100%;
    }
}
.title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    padding: 0 45px;
    margin: 30px 0;
}
.btn-orange {
    width: 176px;
    height: 53px;
    left: 91px;
    top: 389px;
    border: none;
    background: #fb8a06;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;

    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.banner2 {
    width: 100%;
    margin: 25px 0;
    img {
        width: 100%;
        max-width: 100%;
    }
}
.form-ganhos {
    width: 100%;
    height: 100%;
    padding: 0 35px;
    background: #ffffff;
    border-radius: 10px;
    h3 {
        font-style: normal;
        font-weight: normal;
        font-size: 1.3em;
        line-height: 21px;
        font-weight: 700;
        padding: 0 20px;
    }
}
.itens {
    margin: 10px 0;
}
.itens-ponto {
    margin-top: 15px;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

.banner-prod {
    width: 200px;
    margin: 2em 0;
    img {
        width: 100%;
    }
}
.bonus {
    color: #fff;
    h3 {
        font-family: "Great Vibes", cursive;
        text-align: center;
    }
    p {
        padding: 0 35px;
    }
}
